{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <style>
        section {
            display: flex;
            justify-content: center;
            align-content: center;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="post" class="d-flex flex-column justify-content-center align-items-center gap-2 p-2 w-50">
        <div class="w-100">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
        </div>
        <div class="w-100">
            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
    </form>
{% endblock %}
