.score-gauche {
    width: 30%;
}
.answer {
    border: solid 2px #8c52ff;
    border-radius: 30px;
}
.answer-haut {
    background-color: #8c52ff;
    border: solid 2px #8c52ff;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
}
.answer-bas {
    padding: 10px 10px;
}