{% extends 'base.html.twig' %}

{% block title %}Hello ThemeController!{% endblock %}

{% block body %}

<div class="themes">
    <div class="d-flex align-items-center gap-3">
        <h2>Thématiques</h2>
        <hr class="w-100"/>
    </div>
    <ul class="d-flex flex-wrap gap-3">
    {% for theme in themes %}
        <li class="d-flex align-items-center justify-content-center fs-3 text-center" style="
            list-style: none;
            width: 200px;
            height: 200px;
            border-radius: 20px;
            background-color: #8c52ff;
        ">{{ theme.name }}</li>
    {% endfor %}
    </ul>
    <hr />
</div>
{% endblock %}
